<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Изменение книги</title>

    <style>
        body {
            background-image: url('/img/biblioteka.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1 class="my-5">Изменение книги</h1>

    <form th:action="@{/update/{id}(id=${book.getId()})}" th:object="${book}" method="post">
        <div class="form-group my-3" >
            <label for="isbn" class="form-label">ISBN книги: </label>
            <input type="text" id="isbn" th:field="*{isbn}" class="form-control" disabled>
            <input type="hidden" th:field="*{isbn}">
        </div>
        <div class="form-group my-3">
            <label for="title" class="form-label">Название книги: </label>
            <input type="text" id="title" th:field="*{title}" class="form-control" placeholder="Введите название книги...">
            <div class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>
        <div class="form-group my-3">
            <label for="author" class="form-label">Автор книги: </label>
            <input type="text" id="author" th:field="*{author}" class="form-control" placeholder="Введите автора книги...">
            <div class="form-text text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
        </div>
        <button type="submit" class="btn btn-outline-primary my-2 me-5">Сохранить</button>
        <a th:href="@{/}" class="btn btn-outline-danger">Отмена</a>
    </form>
</div>

</body>
</html>
