<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <style>
        body {
            background-image: url('/img/biblioteka.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mt-5">Books</h1>

    <a th:href="@{/new}" class="btn btn-outline-primary mb-3">Добавить новую книгу</a>

    <table class="table table-striped align-middle table-hover">
        <thead class="table-primary">
        <tr>
            <th>ISBN</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.getIsbn()}">ISBN</td>
            <td th:text="${book.getTitle()}">Title</td>
            <td th:text="${book.getAuthor()}">Author</td>
            <td>
                <a th:href="@{/edit/{id}(id=${book.getId()})}" class="btn btn-outline-warning btn-sm me-3">Изменить</a>
                <a th:href="@{/delete/{id}(id=${book.getId()})}" class="btn btn-outline-danger btn-sm">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>